/* https://fonts.google.com/specimen/Noto+Sans?selection.family=Noto+Sans */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
    background-color: #f7f8f9;
    font-family: "Noto Sans", sans-serif;
}

#header {
    padding: 5px;
}

#main {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow-y: auto; /* I don't get why it's here ... */
}

#player_wrapper {
    margin-top: 5px;
    flex: 1 1 auto;
}

#subtitle {
    flex: 1 1 auto;
    margin: 5px;
    padding: 5px;
    overflow-y: auto;
    background-color: #DEF;
    border-radius: 6px;
    border: 1px solid #afddff;
}

#text_list {
    position: relative; /* so that translate_link will stick to this scrolling list */
}

#translate_link {
    position: absolute;
    margin-top: 2px;
    padding: 0px 4px 0px 4px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px #797979;
    font-size: 12px;
    background-color: #f8ff94;

    transition-property: opacity;
    transition-duration: .6s, .6s;
    opacity: 100;
}

#translate_link.hidden {
    opacity: 0;
    z-index: -1;
}

#translate_link > a {
    text-decoration: none;
    color: #001bff
}

.text_element {
    padding: 3px 7px 4px 7px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #f6fbff;
}
.text_element.highlighted {
    background-color: #ffe7de;
}
.text_element.looped {
    background-color: #9dff9d;
}
.text_element:last-of-type {
    margin-bottom: 0px;
}

.text_header {
    display: flex;
    flex-direction: row;
}

.time_pointer {
    position: relative;
    top: -2px;
    font-size: 14px;
    cursor: pointer;
    color: #0240ff;
}
.time_pointer--seek {
    padding: 0px 3px 0px 0px;
}
.time_pointer--loop {
    padding: 0px 4px 0px 0px;
}

.time {
    font-size: 12px;
    color: #0294ff;
}

.text {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    overflow-x: auto;
}

.russian {
    flex: 1 1 50%;
    padding-right: 7px;
    border-right: 1px solid #8ecfff;
}

.english {
    flex: 1 1 50%;
    padding-left: 7px;
}


/* Scrollbar */
::-webkit-scrollbar {
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: padding-box;
    background-color: #e2e2e2;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: padding-box;
    background-color: #e2e2e2;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #b1b1b1;
    background-clip: padding-box;
    border: 3px solid transparent;
}
