<div id="header">
    <label>
        Video ID or URL:
        <input id="video_id" type="text" value="4YGFsUrG_CE">
        <button onclick="LoadVideo()">LOAD VIDEO</button>
    </label>
    &nbsp;
    <label>
        Player Size:
    </label>
    <button onclick="SetSize(450, 253)">SMALL</button>
    <button onclick="SetSize(640, 360)">MEDIUM</button>
    <button onclick="SetSize(853, 480)">LARGE</button>
</div>

<div id="main">
    <div id="player_wrapper">
        <!-- this <div id="player"> will be swapped by <iframe id="player"> -->
        <div id="player"></div>
    </div>
    <div id="subtitle">
        <div id="text_list">
            <div id="translate_link" hidden class="hidden">
                <a href="https://translate.google.com/#ru/en" target="_blank">LINK</a>
            </div>
            <!-- js will fill up a bunch of <div id="text_element"> -->
        </div>
    </div>
</div>


<script src="https://www.youtube.com/iframe_api"></script>
<script src="ytsub.js"></script>
<link rel="stylesheet" href="ytsub.css">
